{{#link-to "new"}}New Run{{/link-to}}

<div class="all-run-screen">
<form class="all-run-form">
  <p class="all-run-form__p">
    {{input class="all-run-form__input" value=runDate placeholder="Dec 1, 2015"}}
    {{input class="all-run-form__input" value=runTime placeholder="00:23:15"}}
  </p>
  <p class="all-run-form__p">
    {{input class="all-run-form__input" value=runDate placeholder="Dec 1, 2015"}}
    {{input class="all-run-form__input" value=runTime placeholder="00:23:15"}}
  </p>
  <p class="all-run-form__p">
    {{input class="all-run-form__input" value=runDate placeholder="Dec 1, 2015"}}
    {{input class="all-run-form__input" value=runTime placeholder="00:23:15"}}
  </p>
  <p class="all-run-form__p">
    {{input class="all-run-form__input" value=runDate placeholder="Dec 1, 2015"}}
    {{input class="all-run-form__input" value=runTime placeholder="00:23:15"}}
  </p>
</form>
</div>


  {{!-- {{action addNewRun on="submit"}} --}}
